<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mileus.sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>

        <service
            android:name="com.mileus.watchdog.service.LocationUpdatesService"
            android:foregroundServiceType="location" />

        <activity android:name="com.mileus.watchdog.ui.WatchdogActivity" />
        <activity android:name="com.mileus.watchdog.ui.MarketValidationActivity" />
        <activity android:name="com.mileus.watchdog.ui.OneTimeSearchActivity" />

    </application>

</manifest>
